    @using Travel_Trip_Proje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>


    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-left:80px">Tatil ve Seyahat Bloğum</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restaurantlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yapılıcak Şeyler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araba Kiralama</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px; height:365px;">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {
                                    <li><img src="@x.BlogImage" alt="" style="width:645px; height:360px;"></li>
                                    @*<li><img src="~/web/images/img2.jpg" alt=""></li>
                                        <li><img src="~/web/images/img3.jpg" alt=""></li>
                                        <li><img src="~/web/images/img4.jpg" alt=""></li>*@
                                }


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div> 
    </div>
    <div class"content">                                                                     
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil Seyahat Bloğumuza Hoşgeldiniz!</h3>
                    <p>Biri Anadolu Yakasında diğeri Avrupa Yakasında doğmuş ve büyümüş iki insan olarak 2021 yılında her aşkın tesadüfleri sevdiği gibi bizim de yolumuz bir şekilde kesişti. İlişkimizin ilk günlerinde bile hiçbir zaman cafe, restaurant veya AVM’de takılan çiftlerden olmadık. Zaten evlerimizin mesafesini göz önüne alırsak ve gün içinde yaptığımız kaçamakların bile kilometresini toplasak ayrı bir gezgin hikayesi çıkardı. Bu günübirlik İstanbul çıkışlı Şile, Ağva, Ege Sahilleri hatta inanılması güç ama Kuşadası gibi delilikler yaptığımız yol hikayelerimizi 2024 yılında hayatımızı birleştirerek uzaklara taşımaya karar verdik. Zaten çevremizden sürekli duymaya alışık olduğumuz ‘’Yine mi evde yoksunuz, yerinizde durduğunuz yok’’ gibi sözlerle daha da gaza gelip hikayemizi ‘’Gidilmeyene gitmek, görülmeyeni görmek’’ parolasıyla büyüttük ve sonunda kendimizi yılın üçte ikisini evimizden uzak gezerken bulduk.  
                      Aman nazar değmesin diyelim sağol varol Gezgin Çift… </p>
                </div>
                @Html.Action("Partial1","Default")
                
                <div class="grids">
                    <div class="box1">
                        @Html.Action("TheWeeksTop10","Default")
                        @Html.Action("OurBestplaces", "Default") 
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

