@using Travel_Trip_Proje.Models.Siniflar
@model List<Blog>

<div class="padding1">
    <h4>Our Best Places</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {


            <div class="bot-img">
                <a href="/Blog/BlogDetay/@x.ID"><img style="max-height:79px; min-height:79px;" src="@x.BlogImage" alt="" /></a>
            </div>
            <div class="bot-desc">
                <a href="/Blog/BlogDetay/@x.ID"><p>@x.Aciklama.Substring(0, 70)...</p> </a>
            </div>
            <div class="clear"></div>


        }
    </div>

    <div class="box1-left">
        <div class="box-left">
            @Html.Action("OurBestPlaces2", "Default")
        </div>

    </div>
</div>
