@using Travel_Trip_Proje.Models.Siniflar
@model List<Blog>
<div class="con-bot">
    @foreach (var y in Model)
    {
        <div class="left">
            <div class="bot-left">
                <img style="max-height:154px; min-height:154px; max-width:275px; min-width:275px; " src="@y.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@y.Baslik</h4>
                @*<span class="doller">$1024.99</span>*@
                <p>@y.Aciklama.Substring(0,80)</p>
                <p><a href="/Blog/BlogDetay/@y.ID"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>
    }
    @Html.Action("Partial2", "Default")

    
    <div class="clear"></div>
</div>